@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body {
  background-image: url("./img/grettasWallpaper.jpeg");
}
h1 {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: Amatic SC;
}

.new-cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.image-itself {
  border: 10px ridge #ca8138;
}

.cat-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  margin-bottom: 15px;
}

.great-div-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

/* score section  */
.score-container {
  border: 2px solid #ca8138;
  background-color: #9393c444;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.score-container button {
  margin: 5px;
}

/*  comment section */
.big-comment-container {
  width: 40%;
  /* border: 5px solid black; */
  display: flex;
  flex-direction: column;
  border: 2px solid #ca8138;
  background-color: #9393c444;
  padding: 5px;
}

.inner-comment-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-height: 30px;
  align-items: center;
}

.comment-section-div {
  border: 2px solid black;
  margin: 5px;
  background-color: white;
  padding: 5px;
  padding-bottom: 20px;
}
