@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body {
  background-image: url("./img/grettasWallpaper.jpeg");
}
h1 {
  padding: 20px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-family: Amatic SC;
}

.new-cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-itself {
  border: 10px ridge #ca8138;
}

.cat-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.great-div-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.score-container {
  border: 5px solid #ca8138;
}

.big-comment-container {
  border: 5px solid black
}
